@model YourProject.Models.CurrentADUserContact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CurrentADUserContact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistinguishedName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistinguishedName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Building)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessPhone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessPhone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessPhone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessPhone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AliasId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
